* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
}

main {
	height: calc(100vh - 100px);
	background-color: #000000;
	overflow: scroll;
}

.view {
	position: absolute;
	top: 15px;
	right: 5px;
}

.view span {
	padding: 5px;
	background-color: #4A4A4A;
	border-radius: 4px;
	cursor: pointer;
}

.container {
	margin: 0px;
	position: relative;
}

.users {
	padding: 50px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.user {
	width: 244px;
	height: 144px;
	margin: 6px;
	background-color: orange;
	position: relative;
	background-image: url(https://picsum.photos/id/684/244/144);
	background-size: cover;
}

.name {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.5);
}

footer {
	height: 100px;
	background-color: #222222;
}